argon2-cffi @ file:///home/builder/ci_310/argon2-cffi_1641902187184/work
async-generator @ file:///home/ktietz/src/ci/async_generator_1611927993394/work
attrs @ file:///opt/conda/conda-bld/attrs_1642510447205/work
Automat==20.2.0
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
beautifulsoup4 @ file:///tmp/build/80754af9/beautifulsoup4_1601924105527/work
bleach @ file:///opt/conda/conda-bld/bleach_1641577558959/work
brotlipy==0.7.0
certifi==2020.6.20
cffi @ file:///home/builder/ci_310/cffi_1642753365720/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
colorama==0.4.4
configparser==5.2.0
constantly==15.1.0
crayons==0.4.0
cryptography==36.0.1
cssselect==1.1.0
debugpy @ file:///home/builder/ci_310/debugpy_1640789504635/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
entrypoints==0.3
h2==3.2.0
hpack==3.0.0
hyperframe==5.2.0
hyperlink==21.0.0
idna @ file:///tmp/build/80754af9/idna_1637925883363/work
importlib-metadata @ file:///home/builder/ci_310/importlib-metadata_1640886182969/work
incremental==21.3.0
ipykernel @ file:///home/builder/ci_310/ipykernel_1640812194801/work/dist/ipykernel-6.4.1-py3-none-any.whl
ipython @ file:///home/builder/ci_310/ipython_1640809441903/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets @ file:///tmp/build/80754af9/ipywidgets_1634143127070/work
itemadapter==0.4.0
itemloaders==1.0.4
jedi @ file:///tmp/build/80754af9/jedi_1644315229345/work
Jinja2 @ file:///tmp/build/80754af9/jinja2_1635780242639/work
jmespath==0.10.0
jsonschema @ file:///Users/ktietz/demo/mc3/conda-bld/jsonschema_1630511932244/work
jupyter @ file:///home/builder/ci_310/jupyter_1641917225653/work
jupyter-client @ file:///opt/conda/conda-bld/jupyter_client_1643638337975/work
jupyter-console @ file:///tmp/build/80754af9/jupyter_console_1616615302928/work
jupyter-core @ file:///home/builder/ci_310/jupyter_core_1641916119577/work
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-widgets @ file:///tmp/build/80754af9/jupyterlab_widgets_1609884341231/work
lxml==4.7.1
MarkupSafe @ file:///home/builder/ci_310/markupsafe_1640791577099/work
matplotlib-inline @ file:///tmp/build/80754af9/matplotlib-inline_1628242447089/work
mistune @ file:///home/builder/ci_310/mistune_1640791641754/work
nbclient @ file:///tmp/build/80754af9/nbclient_1614364831625/work
nbconvert @ file:///home/builder/ci_310/nbconvert_1641917101529/work
nbformat @ file:///tmp/build/80754af9/nbformat_1617383369282/work
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1613680548246/work
notebook @ file:///home/builder/ci_310/notebook_1641917331954/work
numpy==1.22.2
packaging @ file:///tmp/build/80754af9/packaging_1637314298585/work
pandas==1.4.0
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
parsel==1.6.0
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
priority==1.3.0
prometheus-client @ file:///opt/conda/conda-bld/prometheus_client_1643788673601/work
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1633440160888/work
Protego==0.1.16
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
PyDispatcher==2.0.5
Pygments @ file:///opt/conda/conda-bld/pygments_1644249106324/work
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing @ file:///tmp/build/80754af9/pyparsing_1635766073266/work
pyrsistent @ file:///home/builder/ci_310/pyrsistent_1640807196327/work
PySocks @ file:///home/builder/ci_310/pysocks_1640793678128/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz==2021.3
pyzmq @ file:///home/builder/ci_310/pyzmq_1640794096902/work
qtconsole @ file:///opt/conda/conda-bld/qtconsole_1643819126524/work
QtPy @ file:///opt/conda/conda-bld/qtpy_1643087291789/work
queuelib==1.6.2
requests @ file:///opt/conda/conda-bld/requests_1641824580448/work
Scrapy==2.5.1
selenium @ file:///home/builder/ci_310/selenium_1640794525077/work
Send2Trash @ file:///tmp/build/80754af9/send2trash_1632406701022/work
service-identity==21.1.0
sip==4.19.13
six @ file:///tmp/build/80754af9/six_1623709665295/work
soupsieve==2.0.1
terminado @ file:///tmp/build/80754af9/terminado_1644322583911/work
testpath @ file:///tmp/build/80754af9/testpath_1624638946665/work
tornado @ file:///home/builder/ci_310/tornado_1640795392144/work
traitlets @ file:///tmp/build/80754af9/traitlets_1636710298902/work
Twisted==22.1.0
typing_extensions==4.0.1
urllib3 @ file:///opt/conda/conda-bld/urllib3_1643638302206/work
w3lib==1.22.0
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webdriver-manager==3.5.2
webencodings==0.5.1
widgetsnbextension @ file:///home/builder/ci_310/widgetsnbextension_1641918250251/work
zipp @ file:///opt/conda/conda-bld/zipp_1641824620731/work
zope.interface==5.4.0
